.paragraph {
  max-height: 0; /* Initially hide the paragraph */
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Smooth transition for height and opacity */
}

.paragraph.visible {
  max-height: 500px;
  opacity: 1;
  cursor: pointer;
}
