.paragraph {
  max-height: 0; /* Initially hide the paragraph */
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Smooth transition for height and opacity */
}

.paragraph.visible {
  max-height: 500px;
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home-container {
    background-image: url("../assets/bg-baum.jpg");
    background-size: 100% 100% ; /* Set specific dimensions */
    background-attachment: fixed; /* Keeps the background fixed */
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
