.nav-container {
  position: sticky;
  top:0;
  z-index: 10;
}

nav {
  position: relative;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  background: white;
}

.logo-burger-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.logo {
  padding: 1rem;
}

@media (min-width: 825px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .items-container {
    flex-direction: row;
  }

  .items-container a {
    font-size: 1.4rem;
    padding: 1rem;
    color: black;
    transition: color 0.5s ease;
  }

  .items-container a:hover {
    color: var(--primary-color);
  }
}

/* burger-menu */
#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--primary-color);
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

/* menu toggle */
.burgermenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  padding-top: 5rem;
  opacity: 0.9;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
  background: rgb(18, 0, 36);
  background: linear-gradient(45deg, #228b22, #4caf50, #a5d6a7);
}

.menu-open {
  width: 100%;
}

.menu-closed {
  width: 0;
}

.burgermenu a {
  padding-left: 4rem;
  padding-top: 2rem;
  font-size: 2rem;
  display: block;
  white-space: nowrap;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 50px;
  padding: 1rem;
  color: white;
}

.close-btn:hover {
  cursor: pointer;
}
