@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Lato font-face */
@font-face {
  font-family: 'Lato';
  src: local("Lato-Regular"), url('./assets/fonts/lato/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato-Bold"), url('./assets/fonts/lato/Lato-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(70 83 41); /* Waldgrün */
  --secondary-color: rgb(219 243 215);
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 2000px;
  min-height: 100vh;
}

@media (min-width: 2000px) {
  body {
    margin: 0 auto;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* green graphic element */
.text-container p {
  position: relative; /* Ensure the pseudo-element is positioned relative to the <p> tag */
  padding-left: 20px; /* Add padding to make space for the green element */
}

.text-container p::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 5px; /* Adjust based on the vertical alignment of the text */
  width: 20px; /* Set the width of the SVG */
  height: 20px; /* Set the height of the SVG */
  background-image: url('./assets/paw.svg'); /* Reference the external SVG file */
  background-size: cover; /* Ensure the SVG scales properly */
  transform: rotate(30deg);
}

/* background image in app.tsx */
@media (min-width: 768px) {
  .bg-image {
    background-image: url("/src/assets/bg-baum.jpg");
    background-size: 100% 100% ; /* Set specific dimensions */
    background-attachment: fixed; /* Keeps the background fixed */
    padding-bottom: 2rem;
  }
}


